version: 2.1

orbs:
  docker: circleci/docker@2.4.0
jobs:
  test:
    docker:
      - image: cimg/go:1.24.0
    working_directory: ~/repo
    steps:
      - checkout
      - run: go install github.com/smartystreets/goconvey@latest
      - run: make test

workflows:
  test_and_build:
    jobs:
      - test
      - docker/publish:
          remote-docker-version: 20.10.12
          image: dev25/mcrouter_exporter
          tag: $CIRCLE_BRANCH-$CIRCLE_SHA1
          registry: quay.io
          requires:
            - test
          filters:
            branches:
              only: master
  build_tags:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - docker/publish:
          remote-docker-version: 20.10.12
          image: dev25/mcrouter_exporter
          tag: $CIRCLE_TAG
          registry: quay.io
          requires:
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
