version: 2.1

orbs:
  docker: circleci/docker@0.5.17

jobs:
  test:
    docker:
      - image: cimg/go:1.19.4
    working_directory: /go/src/github.com/Dev25/mcrouter_exporter
    steps:
      - checkout
      - run: go install github.com/smartystreets/goconvey@latest
      - run: make test

workflows:
  test_and_build:
    jobs:
      - test
      - docker/publish:
          image: dev25/mcrouter_exporter
          tag: $CIRCLE_BRANCH-$CIRCLE_SHA1
          registry: quay.io
          requires:
            - test
          filters:
            branches:
              only: master
  build_tags:
    jobs:
      - test:
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
      - docker/publish:
          image: dev25/mcrouter_exporter
          tag: $CIRCLE_TAG
          registry: quay.io
          requires:
            - test
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
